header {
   margin-top: 25px;
   margin-bottom: 40px;
}

body {
   background-color: darkslateblue;
   text-decoration: none;
}

.logo{
   display:block;
   font-size:45px;
   text-decoration:none;
   color:black;
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   margin: 0 auto;
   text-align:center;
}

nav{
   display:block;
   float:left;
   position:fixed;
}

.terminal {
  background: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 40px;
  width: 30%;
  border-color: white;
  border-width: 5px;
  border-top-width: 20px;
  border-style: solid;
  margin-left: 50px;
}

li a {
  display: block;
  padding: 5px;
}

.nav-link {
   text-decoration: none;
   margin-bottom: 15%;
}

.nav-link:hover {
   font-size: 45px;
}
