@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #660066;
  --foreground: #171717;
}

.cubic-bezier-custom {
  transition-timing-function: cubic-bezier(0,0,0.45,0);
}

/* Custom styles */
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Ubuntu', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #660066;
    --foreground: #ededed;
  }
}

/* Navigation transitions */
nav li {
  transition: all 0.8s cubic-bezier(0,0,0.45,0);
}

nav li:hover {
  flex: 5;
}